<!DOCTYPE html>
<html lang="uk">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Відомі джедаї</title>
    <link
      rel="shortcut icon"
      href="img/yoda.webp"
      type="image/x-icon"
    />
    <script
      src="https://unpkg.com/htmx.org@1.9.10"
      integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <h1>Відомі Джедаї</h1>
    <h2>Обі-Ван Кенобі</h2>
    <img src="img/jedi.jpg" alt="Джедаї Обі-Ван Кенобі" width="300" />
    <p>
      Обі-Ван Кенобі — джедай, який відомий своєю мудрістю та відданістю
      Силі. Він був наставником Люка Скайвокера та відіграв важливу роль у
      боротьбі з Імперією.
    </p>
    <h2>Люк Скайвокер</h2>
    <img src="img/luke-skywalker.webp" alt="Джедай Люк Скайвокер" width="300" />
    <p>
      Люк Скайвокер — син Анакіна Скайвокера та Лейї Органа. Він став
      джедаєм, який зміг знищити Імперією та повернути мир у Галактиці.
    </p>
    </h2>
    <h2>Йода</h2>
    <img src="img/yoda.webp" alt="Джедай Йода" width="300" />
    <p>
      Йода — мудрий джедай, який володіє великою силою та знанням Силі. Він
      був наставником багатьох джедаїв, включаючи Люка Скайвокера.
    </p>
    <!--<a href="obi-wan.html" hx-get="/obi-wan.html">Дізнатися більше</a>
     <ul>
      <li>
        <a href="obi-wan.html" hx-get="/obi-wan.html">Обі-Ван Кенобі</a>
      </li>
      <li>
        <a href="luke.html" hx-get="/luke.html">Люк Скайвокер</a>
      </li>
      <li>
        <a href="yoda.html" hx-get="/yoda.html">Йода</a>
      </li> -->
  </body>
</html>
